html, body {
    background-image: url("/Pictures/VinPhone_Wallpaper.webp");
    font-family: 'Ubuntu Condensed', sans-serif;
}

.card {
    overflow: hidden;
}


.card1 {
    height: 500px;
    width: 550px;
    top: 205px;
    left: 380px;
    border-radius: 20px;
    margin-right: 0;
}

.text1 {
    left: 100px;
}

.btn-outline-info:hover {
    color: white;
}

.button1 {
    top: 20px;
    left: 210px;
}

.card2 {
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    top: 90px;
    left: 137px;
}

.nbLogo {
    left: 600px;
    margin: 0;
}

.navItem1 {
    left: 200px;
}


.navItem2 {
    left: 780px;
}

.footer {
    background-color: white;
}

.FBLogo {
    height: 35px;
    width: 35px;
    left: -60px;
    border-radius: 8px;
}

.IGLogo {
    height: 38px;
    width: 38px;
    left: -50px;
}

.TWLogo {
    height: 35px;
    width: 35px;
    left: -40px;
    border-radius: 8px;
}

.TTLogo {
    height: 35px;
    width: 35px;
    left: -30px;
}

.card3 {
    top: 150px;
    height: 200px;
}

.footer {
    top: 400px;
}

.card4 {
    height: 300px;
    border-radius: 30px;
    top: 205px;
}


.subButton {
    top: 40px;
}


.formLabel2 {
    top: 10px;
}

.formField2 {
    top: 10px;
}