html, body {
    background-image: url("/Pictures/VinPhone_Wallpaper.webp");
    font-family: 'Ubuntu Condensed', sans-serif;
}

.card {
    overflow: hidden;
}


.card1 {
    height: 500px;
    width: 550px;
    top: 90px;
    left: 380px;
    border-radius: 20px;
    margin-right: 0;
}

.text1 {
    left: 180px;
}

.btn-outline-info:hover {
    color: white;
}

.button1 {
    top: 20px;
    left: 210px;
}

.card2 {
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    top: 160px;
    left: 137px;
}


