html, body {
    background-image: url("/Pictures/VinPhone_Wallpaper.webp");
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow-x: hidden;
}

.card1 {
    width: 1000px;
    height: 6000px;
    left: 137px;
}
.text1 {
    left: 410px;
}

.button1 {
    top: 688px;
    left: 650px;
    margin-left: 5px;
    margin-right: 5px;
}