html, body {
    background-image: url("/Pictures/VinPhone_Wallpaper.webp");
    font-family: 'Ubuntu Condensed', sans-serif;
    overflow: hidden;
}

.card1 {
    width: 1000px;
    height: 4150px;
    border-radius: 30px;
    left: 137px;
}

.text1 {
    left: 410px;
}

.btn-outline-info:hover {
    color: white;
}

.button1 {
    left: 460px;
}

.card2 {
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    top: 160px;
    left: 137px;
}


