{% extends "base.html.twig" %}

{% block body %}

    <div class="card card1 position-relative">
        <div class="card-body">
            <h1 class= "text1 position-relative">Hi {{ account }}!</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                {% for phone in phones %}
                <tr>
                    <td>{{ phone.brand }}</td>
                    <td>{{ phone.model }}</td>
                    <td>{{ phone.price }}</td>
                </tbody>
                </tr>
                {% endfor %}
            </table>
    </div>
    </div>
{% endblock %}