{% extends "base.html.twig" %}

{% block body %}

    <div class="card card1 position-relative">
        <div class="card-body">
            <h1 class= "text1 position-relative">VinPhone</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                </tr>
                </thead>
                <tbody>
                {% for phone in phones %}
                <tr>
                    <td>{{ phone.id }}</td>
                    <td>{{ phone.brand }}</td>
                    <td>{{ phone.model }}</td>
                </tbody>
                </tr>
                {% endfor %}
            </table>
            <a href= "{{ path('Add') }}"><button type="button" class="btn btn-outline-success button1 position-relative">Add phone</button></a></div>
    </div>
    </div>
{% endblock %}