{% extends 'base.html.twig' %}

{% block body %}
    <div class="card card2 position-relative">
        <div class="card-body">
        <form method= "POST">
            {{ form(form) }}
            {{ form_end(form) }}
        </form>

        </div>
    </div>

{% endblock %}